<h1>Create your chapter now!</h1>

<form action="/submit" method="POST">
  <input name="chapterName" type="text" class="feedback-input" placeholder="Chapter Name">   <br>
  <input name="chapterColour" type="text" class="feedback-input" placeholder="Colours"> <br>
  <input name="foundingChapter" type="text" class="feedback-input" placeholder="Founding Chapter"> <br> <br>
  <textarea name="chapterDescription" class="feedback-input" placeholder="Description"></textarea> <br> <br>
  <input type="submit" value="Create">
</form>