
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Chapter</title>
</head>

<body>
    <h1>Hello World!</h1>

    <form action="/new-chapter" method="GET">
        <input type="submit" value="Generate Chapter">
    </form>
    
</body>
</html>
